.section-title.three {
  margin-bottom: 50px;
}
.logos {
  display: inline-flex;
}

.pic {
  @include centered-flex;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid $color-client-icon;
  fill: $color-client-icon;

  &:hover {
    fill: $accent-text-color;
    border: 1px solid $accent-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .logos & + & {
    margin-left: 30px;
  }
}
